<div class="row row-fluid">
  <div class="col-xs-12">

    <div class="draft-header draft-{{draft.draft_id}}" style="background:url('{{$scope.backgroundImg(2)}}');">
      <div class="inner-content">
        <h1>{{draft.title}}</h1>
        <div style="text-align:left;">on {{draft.date | date:'EEEE MMMM dd, yyyy'}}</div>
      </div>
      <div class="inner-overlay"></div>
    </div>

    <div class="section">
      <ul class="list-unstyled list-striped">
        <li></li>
      </ul>
    </div>

  </div>
</div>
